.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  
}

.header__nav-items > ul {
  list-style-type: none;
  display: flex;
  font-size: 25px;
  color: #2f373a;
  transition: color 0.1s ease;
  transition-duration: 0.1s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: color;
  font-weight: 500 !important;
}

.header__nav-items > ul > li {
  padding: 20px;
  font-family: "Prompt", sans-serif;
  font-family: "Unbounded", cursive;
}
.header__nav-items > ul > li:hover {
  color: #f66135;
}
.logo {
    width: 70%;
    height: 100%;
}
.restaurant-list{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}
.restaurant-list__card{
    width:20%;
    padding:10px;
    mARGIN:10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    font-family: "Prompt", sans-serif;
    font-family: "Unbounded", cursive;
    font-weight: 100;
}

.restaurant-list__card > img {
    width:100%;
    border-radius: 5px 5px 0 0;
}
.shimmer__card {
  padding: 25px;
  border-radius: 5px 5px 0 0;
}
.shimmer__card>img {
  width:100%;
  border-radius: 5px 5px 0 0;
}
.restaurant-list__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.restuarant-search {
  display: flex;
  justify-content: center;
  padding: 10px; 
}
.restuarant-search__input-group{
  width: 100%;
}
.restuarant-search__input {
  border-radius: 30px 0 0 30px;
}
.search-btn {
  cursor:pointer;
  border-radius: 0 30px 30px 0; 
  background-color:#fff;
  color:#669;
  
}
